<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.modules.tag.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.blog.modules.tag.domain.entity.Tag">
        <id property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="version" column="version"/>
        <result property="name" column="name"/>
        <result property="color" column="color"/>
        <result property="articleCount" column="article_count"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,create_time,update_time,deleted,
        version,name,color
    </sql>

    <select id="selectTagsByArticleId" resultMap="BaseResultMap">
        SELECT t.*
        FROM t_tag t
                 INNER JOIN t_article_tag at ON t.id = at.tag_id
        WHERE at.article_id = #{articleId}
          AND t.deleted = 0
    </select>

    <select id="selectListWithArticleCount" resultMap="BaseResultMap">
        SELECT t.*,
               IFNULL(ac.article_count, 0) AS article_count
        FROM t_tag t
                 LEFT JOIN (
            SELECT at.tag_id,
                   COUNT(DISTINCT a.id) AS article_count
            FROM t_article_tag at
                     INNER JOIN t_article a
                                ON a.id = at.article_id
                                    AND a.status = '1'
                                    AND a.deleted = 0
            GROUP BY at.tag_id
        ) ac ON ac.tag_id = t.id
        WHERE t.deleted = 0
        ORDER BY t.id ASC
    </select>
</mapper>
